
button{
  margin: 10px auto;
}
.weather {
 width: 100%;
 height: auto;
 position: relative;
 margin: 10% calc(10px + 40%);
}
span{
  font-size: 25px;
}
@media only screen and (max-width: 600px) {
    .weather {
      margin: 10% calc(10px + 20%);
     }

}